{
    "extends": [
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "jest",
        "react",
        "react-hooks",
        "unused-imports",
        "@typescript-eslint"
    ],
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
    "import/resolver": {
            "typescript": {}
        }
    },
    "rules": {
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "react/jsx-no-bind": [
            2,
            {
                "ignoreDOMComponents": false,
                "ignoreRefs": false,
                "allowArrowFunctions": false,
                "allowFunctions": false,
                "allowBind": false
            }
        ],
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "varsIgnorePattern": "^_",
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ],
        "react/no-multi-comp": [
            2,
            {
                "ignoreStateless": true
            }
        ],
        "react/forbid-prop-types": [
            2
        ],
        "react/jsx-pascal-case": [
            2
        ],
        "react/jsx-boolean-value": [
            2
        ],
        "react/no-array-index-key": [
            2
        ],
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "no-unused-vars": "off",
        "indent": [
            "error",
            2
        ],
        "@typescript-eslint/quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ]
    },
    "parser": "babel-eslint"
}